/* source: https://dev.to/shantanu_jana/circular-progress-bar-using-html-and-css-1oda */
@keyframes growProgressBar {
    0%, 33% { --pgPercentage: 0; }
    100% { --pgPercentage: var(--value); }
  }
  
  @property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
  }
  

  div[role="chart"] {
      margin: 10px;
      background-color: rgb(28,28,28);
      height: 250px;
      width: 250px;
  }

  div[role="sleepProgressbar"] {
    position: relative;
    left: 30px;
    bottom: 30px;
    --size: 12rem;
    --fg: #369;
    --bg: #def;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
      radial-gradient(closest-side, black 80%, transparent 0 99.9%, black 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
      ;
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
  }
  
  div[role="sleepProgressbar"]::before {
    counter-reset: percentage var(--value); 
    content: '4 hours';
  } 


  div[role="recoveryProgressbar"] {
    position: relative;
    left: 30px;
    bottom: 30px;
    --size: 12rem;
    --fg: red;
    --bg: #def;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
      radial-gradient(closest-side, black 80%, transparent 0 99.9%, black 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
      ;
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
  }
  
  div[role="recoveryProgressbar"]::before {
    counter-reset: percentage var(--value); 
    content: '60%';
  } 

  div[role="caloriesProgressbar"] {
    position: relative;
    left: 30px;
    bottom: 30px;
    --size: 12rem;
    --fg: yellow;
    --bg: #def;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
      radial-gradient(closest-side, black 80%, transparent 0 99.9%, black 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
      ;
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
  }
  
  div[role="caloriesProgressbar"]::before {
    counter-reset: percentage var(--value); 
    content: '1800 cal';
  } 
  
  /* demo */
  body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  h2 {
    position: relative;
    left: 3px;
    top: -12px;
 }

